.title {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sub-menu {
    width: 100%;
    text-align: center;
    
}

.font-style {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.font-style:hover {
    text-decoration: underline;
}

