.title {
    width: 100%;
    text-align: center;

.sub-menu {
    width: 100%;
    text-align: center;
}

.sub-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sub-menu a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
  }

.font-style {
    text-decoration: none;
    font-size: 20px;
    color: #333;
}

.font-style:hover {
    text-decoration: underline;
}